.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  background-color: #151a21;

}

#menubutton {
    width: 45px;
    height: auto;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
