* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.error-message {
  color: aliceblue;
}

.loginPage,
.registerPage,
.homePage,
.workPage,
.projConfigPage {
  background-color: #021121;
  /*background-color: rgb(6, 6, 15);*/
}

#title {
  color: white;
}

.glow {
  width: 70%;
  height: 35px;
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(7px);
  background: transparent;

  background: rgba(9, 79, 99, 0.25);
  box-shadow: 0 8px 32px 0 #051133;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  transition: 0.3s;
}

.glow:hover {
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px #3c8bc3;
  height: 40px;
  width: 75%;
  font-size: 20px;
}

.textButton {
  color: white;
}

.sideMenu,
.sideMenu-open {
  display: flex;
  background-color: #171e31;
  height: 100%;
  width: 80px;
  position: fixed;
  border-style: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
  z-index: 999;
}

.sideMenu-open {
  height: 100% !important;
  width: 250px !important;
  z-index: 999;
}

.align-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#blob {
  background-color: white;
  height: 26vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: 0% 0%;
  border-radius: 50%;
  background: linear-gradient(to right, #3c8bc3, #051133);
  opacity: 0.8;
  z-index: 1;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(9vmax);
}

.align-right {
  width: 100%;
  height: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100% !important;
}

.label {
  font-size: 0.9rem;
  color: #ffffff;
  font-style: italic;
}

.inputsForm {
  width: 370px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding-left: 10px;
  border: 2px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  gap: 20px;
}

.busca {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
}

.new-button {
  height: 100%;
  width: 20%;
  padding: 5px;
  border-radius: 7px;
  border-width: 1.7px;
  border-color: rgba(255, 255, 255, 0.678);
  border-style: ridge;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
