* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.error-message {
  color: aliceblue;
}

.loginPage,
.registerPage,
.homePage,
.workPage,
.projConfigPage,
.newProjPage {
  background-color: #021121;
  /*background-color: rgb(6, 6, 15);*/
}

#title {
  color: white;
}

.glow {
  width: 70%;
  height: 35px;
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(7px);
  background: transparent;

  background: rgba(9, 79, 99, 0.25);
  box-shadow: 0 8px 32px 0 #051133;
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  transition: 0.3s;
}

.glow:hover {
  cursor: pointer;
  box-shadow: 0px 0px 22px 0px #3c8bc3;
  height: 40px;
  width: 75%;
  font-size: 20px;
}

.textButton {
  color: white;
}

.sideMenu,
.sideMenu-open {
  display: flex;
  background-color: #171e31;
  height: 100%;
  width: 6vw;
  position: fixed;
  border-style: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
  z-index: 999;
}

.sideMenu-open {
  height: 100% !important;
  width: 20vw !important;
  z-index: 999;
}

.align-top {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

#blob {
  background-color: white;
  height: 26vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: 0% 0%;
  border-radius: 50% 30% 15% 70%;
  background: #45c4b0;
  opacity: 0.6;
  z-index: 1;
  animation-name: blobnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blobnimation {
  0% {
    border-radius: 50% 50% 50% 50%;
    rotate: 0deg;
    background: #45c4b0;
  }
  10% {
    border-radius: 20% 100% 50% 60%;
    rotate: 25deg;
    background: #58cab9;
  }
  20% {
    border-radius: 100% 80% 90% 70%;
    rotate: 35deg;
    background: #61cfbf;
  }
  30% {
    border-radius: 10% 60% 20% 70%;
    rotate: 45deg;
    background: #81d6c9;
  }
  40% {
    border-radius: 80% 100% 100% 100%;
    rotate: 57deg;
    background: #72d8a8;
  }
  50% {
    border-radius: 10% 10% 10% 10%;
    rotate: 69deg;
    background: #9aeba3;
  }
  60% {
    border-radius: 60% 40% 20% 30%;
    rotate: 79deg;
    background: #83d4a5;
  }
  70% {
    border-radius: 50% 90% 40% 50%;
    rotate: 87deg;
    background: #6dc7c2;
  }
  80% {
    border-radius: 70% 30% 10% 20%;
    rotate: 100deg;
    background: #9aeba3;
  }
  90% {
    border-radius: 100% 30% 40% 80%;
    rotate: 120deg;
    background: #9aeba3;
  }
  100% {
    border-radius: 20% 90% 80% 90%;
    rotate: 180deg;
    background: #9aeba3;
  }
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(9vmax);
}

.align-right {
  width: 100%;
  height: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100% !important;
}

.label {
  font-size: 0.9rem;
  color: #ffffff;
  font-style: italic;
}

.inputsForm {
  width: 370px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding-left: 10px;
  border: 2px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  gap: 20px;
}

.busca {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
}

.new-button {
  height: 90%;
  width: 20%;
  padding: 5px;
  border-radius: 7px;
  border-width: 1.7px;
  border-color: rgba(255, 255, 255, 0.678);
  border-style: ridge;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.new-button:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}
