* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.loginPage,
.registerPage,
.homePage,
.workPage {
  background-color: rgb(6, 6, 15);
}

.glow {
  margin: 20px;
  width: 70%;
  height: 35px;
  border-radius: 10px;
  border: none;
  backdrop-filter: blur(7px);
  background: transparent;

  background: rgba(9, 79, 99, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(6, 79, 139), 0 0 25px rgba(6, 79, 139, 0.212),
    0 0 50px rgb(6, 79, 139), 0 0 100px rgb(6, 79, 139);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  transition: 0.3s;
}

.glow:hover {
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.493);
  height: 40px;
  width: 75%;
  font-size: 20px;
}

.textButton {
  color: white;
}

.sideMenu,
.sideMenu-open {
  display: flex;
  background-color: #151a21;
  height: 100%;
  width: 80px;
  position: fixed;
  border-style: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 3px;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  top: 0;
}

.sideMenu-open {
  height: 100% !important;
  width: 250px !important;
}
