.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  width: 250px;
  height: 230px;
  cursor: pointer;
  gap: 20px;
}

.card:hover {
  border-color: #257afd;
}

.card-title,
.card-text {
  color: white;
}
