.IntroductionPage {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: #021121;
  overflow-y: auto;
}

.top-introduction {
  width: 100%;
  height: 8%;
}

.top-bar-introduction {
  display: flex;
  height: 100%;
  background: linear-gradient(180deg, #000203ab, #021121);
}
