.team-page {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 5%;
  background-color: #021121;
}

.input-colab {
  width: 95%;
  height: 100%;
  padding: 10px;
  border: none;
}

.input-colab:focus {
  outline: none;
}

.title {
  color: white;
  width: fit-content;
}

.title-team {
  color: #45c4b0;
  width: fit-content;
  font-size: x-large;
}

.team-page-team {
  display: flex;
  flex-direction: column;

  width: 80%;
  height: 100vh;
  gap: 5vh;
  margin-left: 10vw;
}

.team-users {
  display: flex;
  width: 100%;
  height: 5vh;
  flex-direction: column;
  justify-content: center;
  gap: 2svh;
}

.card-users {
  width: 20vh;
  height: 20vh;
  border-radius: 1vh;
  background-color: #051e38;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.UsersName {
  color: white;
  font-size: 2.5vh;
}

.s {
  height: auto;
  width: 7vh;
}

.teamicontm {
  height: 4vh;
  color: #45c4b0;
}

.container-carduser {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
}
