.teams-page {
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 5%;
  background-color: #021121;
}

.teams-page-top {
  display: flex;
  gap: 2%;
  align-items: center;
  margin-top: 2vh;
  height: 5vh;
  width: 100%;
  justify-content: flex-start;
}

.teams-page-center {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 5vh;
  width: 100%;
  padding-right: 20%;
  margin-bottom: 5vh;
}

.input {
  padding: 10px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 3px;
  border-style: solid;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.3s;
}

.input:hover {
  border-color: #45c4b0;
  transition: 0.4s;
}

.title {
  color: white;
  width: fit-content;
}

.add-colab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 35px;
  border-radius: 10px;
  border: none;
  border: 3.5px;
  border-style: solid;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  transition: 0.3s;
}

.add-colab-icon {
  color: #051e38;
  height: 80%;
  margin: 1%;
  width: auto;
  cursor: pointer;
}

.add-colab-container:hover {
  border-color: #45c4b0;
  transition: 0.4s;
}

.teams-page-teams {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  gap: 5vh;
  margin-left: 10vw;
}

.create-team-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.new-button.full {
  width: 100%;
  height: 4.5vh;
}

.team-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5vw;
  padding-left: 2%;
  gap: 3%;
  width: 100%;
  height: 3rem;
  background-color: #051e38;
  border-color: #051e38;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
  border-width: 1.5px;
  transition: 0.3s;
}

.team-card:hover {
  cursor: pointer;
  transition: 0.4s;
  border-color: #45c4b0;
}

.teamcard-text {
  color: white;
  font-size: large;
}

.teams-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 2.5vw;
  overflow-y: auto;
  height: 90%;
}

.teams-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
  background-color: #021121;
}

.teams-cards::-webkit-scrollbar {
  width: 6px;
  background-color: #021121;
}

.teams-cards::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.invites-icon {
  color: white;
  height: 85%;
  cursor: pointer;
}

.invite-card {
  display: flex;
  align-items: center;
  padding: 5%;
  height: 3.2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  gap: 5%;
}

.invite-text {
  color: white;
  font-size: small;
}

.accept-icon {
  color: greenyellow;
  height: 90%;
  cursor: pointer;
}
.deny-icon {
  color: red;
  height: 90%;
  cursor: pointer;
}

.invites-popup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sendTeam-button {
  height: 90%;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
  border-width: 1.7px;
  border-color: rgba(255, 255, 255, 0.678);
  border-style: ridge;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.sendTeam-button:hover {
  transform: translateY(-2px);
  transition: 0.4s;
  border-color: #45c4b0;
  border-style: ridge;
}
