.topBar {
  display: flex;
  justify-content: center;
  background-color: #151a21;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 50px rgb(11, 11, 14);

}

.QuadradoBranco {
  width: 620px;
  height: 35%;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background: #3a415a70;
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
border:solid 2px #cbdad5;
  z-index: 999;
  overflow: hidden;
}

.IntroductionPage {
  background-image: url("./images/FotoHome.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;

}


.align-center {
  width: 100%;
}

.align-top {
  z-index: 999;
  width: 100%;
}

.align-bottom {
  z-index: 999;
  width: 100%;
  align-self: flex-end;
}


.alignRight {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
}

.alignLeft {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}

.alignCenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.logo.homebar {
  width: 15%;
  max-width: 120px;
  height: auto;
  max-height: 55%;
}

#registerBtn {
  height: 60%;
  width: 12%;
  border-radius: 7px;
  border-width: 1.7px;
  border-color: rgba(255, 255, 255, 0.678);
  border-style: ridge;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

#loginBtn {
  color: white;
  margin: 4%;
  cursor: pointer;
}

#registerBtn,
#loginBtn {
  font-style: normal;
  font-weight: normal;
}

html {
  background-color: white;
}

.IntroductionTexto {
  font-family: "Space Grotesk";
  font-size: 20px;
  color: #ffffff;
}

.footer {
  position: relative;
  align-items: center;
  justify-self: flex-end;
}

.cardF {
  display: flex;
  width: 100%;
  height: 6.5vh;
  background: #151a21;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 15px rgb(11, 11, 14);
}

.TextoFT {
  color: #ffffff;
  font-size: small;
}

.logo.instagram {
  width: 20px;
  height: auto;
  left: -200;
}

.logo.linkedin {
  display: flex;
  width: 20px;
  height: auto;
  left: -180px;
}
