.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

html {
  overflow: hidden;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#logo {
  width: 200px;
  cursor: pointer;
  height: fit-content;
}

.input.form {
  margin: 20px;
  padding: 10px;
  width: 70%;
  height: 35px;
  border-radius: 14px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.login-buttonFGT {
  margin: 20px;
  align-items: center;
  background-image: linear-gradient(100deg, #45c4b1c7, #2e80bad4);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  width: 70%;
  height: 35px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.login-buttonFGT:active,
.login-buttonFGT:hover {
  outline: 0;
}

.login-buttonFGT span {
  display: flex;
  background-color: rgb(20, 54, 80);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  align-items: center;
  justify-content: center;
}

.login-buttonFGT:hover span {
  background: none;
  color: rgb(20, 54, 80);
}

.txtBtnDivLogin {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

#createAccBtn:hover,
#forgotPswBtn:hover {
  cursor: pointer;
}

.login-form {
  width: 100%;
}
