.edituserPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0d1014;
}

.fundoBranco {
  position: absolute;
  flex-direction: column;
  width: 65vh;
  height: 85vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.055);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.829);
  z-index: 999;
}

.emailInput {
  width: 45vh;
  height: 6vh;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.emailLBL {
  left: 10vh;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

.usuarioInput {
  width: 45vh;
  height: 6vh;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.usuarioLBL {
  left: 10vh;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

.senhaAT {
  margin: 0px;
}

.senha {
  margin: 0px;
}
.senhas {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.senhaATInput {
  width: 45vh;
  height: 6vh;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.senhaATLBL {
  left: 10vh;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

.senhaInput {
  width: 45vh;
  height: 6vh;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
}

.senhaLBL {
  left: 10vh;
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

.cima {
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.FnAlt {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 55vh;
  height: 0.1px;
  background-color: #ffffff00;
  padding: 2px;
}

.Alt {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
}

.alignLeft {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin-left: 10px;
}

.BTNalteracao {
  width: 42vh;
  height: 6vh;
  margin: 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  backdrop-filter: blur(7px);
  background: transparent;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.493);
  font-size: 15px;
  transition: 0.3s;
}

.BTNalteracao:hover {
  cursor: pointer;
  box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 22px rgb(110, 110, 110),
    0 0 47px rgb(206, 206, 206), 0 0 100px rgb(131, 131, 131);
  height: 7vh;
  width: 44vh;
  font-size: 17px;
}

.BTNlbl {
  font-weight: bold;
  font-size: medium;
  color: 151a21d7;
}
