.workPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/wallpaperleia3.jpg");
  background-position: 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.containers-div {
  display: flex;
  margin-top: 5vh;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

.container-text {
  display: flex;
  flex-direction: column;
  background-color: #0ab6eb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100%;
  width: 40%;
  overflow-y: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(25, 175, 217, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container-text.code {
  background-color: #043d4e42;
}

.input-code {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.068);
  border: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

.mensagem {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: medium;
}
